<li class="nav-item position-relative">
    <a class="nav-link TruongSach-nav-link" href="#">
        <i class="fas fa-coins text-warning"></i>
        <span class="badge bg-primary cart-count-badge position-absolute top-0 start-100 translate-middle rounded-pill">
            @Model
        </span>
    </a>
</li>
