@using System.Security.Claims
<p>Xin chào, @User.Identity.Name!</p>

@if (User.Identity.IsAuthenticated)
{
    <p>ID của bạn: @User.FindFirst(ClaimTypes.NameIdentifier)?.Value</p>
    <p>Role: @User.FindFirst(ClaimTypes.Role)?.Value</p>
}
else
{
    <p>Bạn chưa đăng nhập.</p>
}
